.main-cotainer{
    color: rgb(64, 70, 64);
    font-family: 'Inter',sans-serif 'Times New Roman', Times, serif;
    margin: 0 auto 5rem ;
    width: 70%;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.header-left h1{ 
    font-size: 1.8rem;

}.header-left p{ 
   font-weight: 700;
   font-family: 'Inter',sans-serif ;
   color: darkgray;

}
h1{
    color: black;
}
.header-right{
    align-items: center;
    display: flex;
}
.header-right label[for=checkbox]{
    color: darkgray;
    font-size: 19px;
    font-weight:800;
    margin-right: 9px;
}

.switch{
    position: relative;
    display: inline-block;
    width: 48px;
    height: 22px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
input:checked+.slider{
    background-color: darkgray;
    background-image: none;
}
input:checked+.slider::before{
    background-color: #f0f2fa;
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}
.round{
    border-radius: 22px;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:linear-gradient(90deg, #378fe6, #3eda82);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 2px;
    background-color: #252a41;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 22px;
}


/* cards*/
.social-cards {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    margin: 3rem 0;
  }
  
  .social-card {
    padding: 1.5rem 3rem 1rem;
    text-align: center;
  }
  
  .social-card .add {
    font-weight: 700;
    letter-spacing: normal;
  }
  
  .social-card p {
    font-size: 12px;
    letter-spacing: 4px;
  }
  
  .social-card p:last-child {
    font-weight: 700;
    margin-top: 1.5rem;
    letter-spacing: normal;
  }
  
  .social-card h1 {
    font-size: 3rem;
    margin-top: 1rem;
  }
  
  .social-card .add::before {
    margin-right: 8px;
    vertical-align: middle;
  }
  
  .social-cards .fb {
    border-top: 4px solid #198ff5;
  }
  
  .social-cards .tw {
    border-top: 4px solid #1ca0f2;
  }
  
  .social-cards .insta {
    border-top: 4px solid #f0f2fa;
    position: relative;
  }
  
  .insta::before {
    background: linear-gradient(to left, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: -4px;
    width: 100%;
  }
  
  .social-cards .yt {
    border-top: 4px solid #c4032a;
  }
  
  .social-cards .fb .add::before {
    content: url("images/icon-facebook.svg");
  }
  
  .social-cards .tw .add::before {
    content: url("images/icon-twitter.svg");
  }
  
  .social-cards .insta .add::before {
    content: url("images/icon-instagram.svg");
  }
  
  .social-cards .yt .add::before {
    content: url("images/icon-youtube.svg");
  }
/* <div class="card fb">
<p class="add">@nathanf</p>
<h1>1987</h1>
<p>Followers</p>
<p class="green">
  <span class="arrow-up"></span>
 12 Today
</p>
</div> */
.active{
    background-color: #1e202a;
  }
  
  .active .container-main .container-top .header .left p{
    color: #8b97c6;
  }
  
  .active .social-card, .active .status-card{
    background-color: #252a41;
    color: #8b97c6;
  }
  
  .active .social-card:hover, .active .status-card:hover{
    background-color:rgba(139, 151, 198, 0.2);
  }
  
  .active h1{
    color: #fff;
  }
  
  .active h2{
    color: #fff;
  }
  
  .active .status-card h2{
    color: #fff;
  }
  
  
  .social-card, .status-card {
    background-color: #f0f2fa;
    border-radius: 5px;
    /* min-width: 248px; */
  }
  
  .social-card:hover, .status-card:hover {
    cursor: pointer;
    background-color: rgba(99, 104, 126, 0.25);
  }
  
  .arrow-up {
    content: url("images/icon-up.svg");
    margin-right: 4px;
    vertical-align: middle;
  }
  
  .arrow-down {
    content: url("images/icon-down.svg");
    margin-right: 4px;
    vertical-align: middle;
  }
  
  .green {
    color: #1db489;
  }
  
  .red {
    color: #dc414c;
  }
.overview {
    margin-bottom: 1rem;
  }
  
  .overview-cards{
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1.5rem;
  }
  
  .card p {
    font-size: 14px;
    font-weight: 700;
  }
  
  .card h2 {
    color: #1e202a;
    font-size: 1.75rem;
  }
  
  .card div, .card p:last-child{
    margin-left: auto;
  }
  
  .card p:last-child{
    align-self: end;
    margin-bottom: 2px;
  }
  
  .card .fb {
    content: url("images/icon-facebook.svg");
  }
  
  .card .insta {
    content: url("images/icon-instagram.svg");
  }
  
  .card .tw {
    content: url("images/icon-twitter.svg");
  }
  
  .card .yt {
    content: url("images/icon-youtube.svg");
  }
  
  
  @media only screen and (max-width:1400px) {
    .container-main{
      width:75%;
    }
  }
  
  @media only screen and (max-width:1300px) {
    .container-main{
      width:80%;
    }
  }
  
  @media only screen and (max-width:1200px) {
    .container-main{
      width:90%;
    }
  }
  
  @media only screen and (max-width:1024px) {
    .container-main{
      width:70%;
    }
  
    .social-cards {
      grid-template-columns: 1fr 1fr;
    }
  
    .overview-cards{
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width:900px) {
    .container-main{
      width:80%;
    }
  }
  
  @media only screen and (max-width:768px) {
    .container-main{
      width:70%;
    }
  
    .header{
      flex-direction: column;
    }
  
    hr{
      display: block;
      margin: 1rem;
      border: 0;
      border-top: 1px solid lightgrey;
    }
  
    .right{
      display: flex;
      justify-content: space-between;
    }
  
    .social-card, .status-card{
      width: 300px;
      margin: auto;
    }
  
    .social-cards {
      grid-template-columns: 1fr;
    }
  
    .overview-cards{
      grid-template-columns: 1fr;
    }
  }
  
